In [1]:
import pandas as pd
import numpy as np
import json

In [2]:
import sys
sys.path.append('../')
import wrangle

In [17]:
wdf = wrangle.wrangle_data()
wdf

,q00,q01a,q01b,q01c,q02a,q02b,q02c,q02d,q02e,q02f,...,q15,q16,q17a,q17b,q18a,q21,q22,q23,q09a,persona_id
0,284,Academic,4,1.0,3,2,0,3,3,3,...,NaN,"CHI, INTERACT",depending on the professional values,7.0,"any, depending on the values",research-practice connections,NaN,research-practice connections,"sort of, psychology background.",2
1,288,Academic,4,1.0,1,2,1,3,3,3,...,"Dagstuhl workshop - small, intense, intimate g...",Hawaii international conference on Education,I would attend any of these,6.0,Multi-track: Every attendee chooses their own ...,NaN,NaN,Donâ€™t create schedule conflicts with other rel...,"Yes, I was taught how to conduct research",2
2,294,Academic,4,1.0,3,3,1,3,1,3,...,Courses at Copenhagen University (deep knowle...,"Research Tuesdays (Czech), UX/Design Conferen...",It depends - I really enjoyed small conference...,7.0,It depends,NaN,NaN,Looking forward! \n,"Yes, I was taught how to conduct research",2
3,281,Academic,4,1.0,3,4,0,2,3,2,...,A workshop at the Society for Applied Anthropo...,A local education implementation conference.,Large conference: 500+ attendees,4.0,Multi-track: Every attendee chooses their own ...,"Research design, innovative methods, communica...",NaN,NaN,"Yes, I was taught how to conduct research",2
4,280,Academic,4,1.0,3,3,0,1,1,3,...,NaN,NaN,Large conference: 500+ attendees,4.0,Multi-track: Every attendee chooses their own ...,NaN,NaN,NaN,"No, I was not taught how to conduct research",2
5,295,Academic,4,1.0,3,4,1,3,1,3,...,"IA summit: High quality talks, enthusiastic co...","IA Summit, ASIST",Mid-size conference : 300-500 attendees,3.0,Multi-track: Every attendee chooses their own ...,NaN,"I like a mix, academics and professionals, qua...",I actually feel like the biggest contribution ...,"Yes, I was taught how to conduct research",2
6,291,Academic,4,1.0,3,3,0,3,3,3,...,Academic conferences \n,"Marketing and design, technology management, i...",Mid-size conference : 300-500 attendees,3.0,Multi-track: Every attendee chooses their own ...,"design, participatory analysis,","companies, academic researchers, public policy...",NaN,"No, I was not taught how to conduct research",2
7,290,Academic,4,1.0,3,3,1,3,4,4,...,A research stay in a leading University,"Seminars in different universities: UCLA, UPF,...",Mid-size conference : 300-500 attendees,3.0,Multi-track: Every attendee chooses their own ...,Sessions about new methodologies or cases studies,Leading researchers,Go ahead! Your prestige is a guaranty,"Yes, I was taught how to conduct research",2
8,296,Academic,4,1.0,3,3,0,3,1,3,...,Small conference on research on mass transit. ...,Session at Society for Applied Anth conference...,Retreat/workshop: < 50 attendees,1.0,Single-track: All attendees experience the sam...,Sampling and participant recruitment; Strategi...,People who are known to have developed skill s...,It would be nice to have more conferences that...,"Yes, I was taught how to conduct research",2
9,279,Academic,4,1.0,3,3,0,3,0,2,...,NaN,NaN,Retreat/workshop: < 50 attendees,1.0,Multi-track: Every attendee chooses their own ...,Sharing of methods or best practices.,NaN,NaN,"No, I was not taught how to conduct research",2
10,276,Academic,4,1.0,3,3,0,3,1,3,...,mHealth Institute by NIH (attended in 2011)\ni...,ISOQOL,Retreat/workshop: < 50 attendees,1.0,Single-track: All attendees experience the sam...,related to my research,NaN,bring key opinion leader and young minds toget...,"No, I was not taught how to conduct research",2
11,275,Academic,4,1.0,3,3,0,1,3,3,...,Product mgmt training with SVPG. It was an in-...,Canux,Retreat/workshop: < 50 attendees,1.0,Single-track: All attendees experience the sam...,Managing problem space vs solution evaluation ...,NaN,Have some really inspirational talks as well a...,"Yes, I was taught how to conduct research",2
12,292,Academic,4,1.0,4,4,3,4,4,4,...,Getting PhD in mid-life - second career. Amazi...,Academy of Management stuff (boring),Small conference: < 300 attendees,2.0,Multi-track: Every attendee chooses their own ...,I work with 'prac-ademics' - many without PhDs...,Four of you a good start. Ann Jordan? Sam Lad...,DO IT.,"Yes, I was taught how to conduct research",2
13,287,Academic,4,1.0,3,3,0,3,2,3,...,UI21. The lunches and dinners in small groups ...,NaN,Small conference: < 300 attendees,2.0,Single-track: All attendees experience the sam...,NaN,NaN,NaN,I was taught some aspects of scientific resear...,2
14,286,Academic,4,1.0,2,2,0,2,0,2,...,"The ISNA Conference in Beijing, which was big ...",Conferences,Small conference: < 300 attendees,2.0,Multi-track: Every attendee chooses their own ...,Research ethics not as theory but as practice....,Anyone that is cooperating for open access jou...,"Dont do it in North America, Europe or Australia.","Yes, I was taught how to conduct research",2
15,283,Academic,4,1.0,3,3,1,3,3,3,...,A Course SIGCHI many years ago. Still use the ...,NaN,Small conference: < 300 attendees,2.0,Single-track: All attendees experience the sam...,VR/AR Applications,NaN,NaN,"Yes, I was taught how to conduct research",2
16,282,Academic,4,1.0,0,0,0,3,3,1,...,"SARMAC conference in 2003 (I think), it was a ...","None, never.",Small conference: < 300 attendees,2.0,Single-track: All attendees experience the sam...,How to sell qualitative research to a quantita...,"Researchers from all walks of life, not just a...","Good luck :)\n\nNo seriously, think about who ...","Yes, I was taught how to conduct research",2
17,278,Academic,4,1.0,4,3,0,4,2,2,...,NaN,NaN,Small conference: < 300 attendees,2.0,Multi-track: Every attendee chooses their own ...,NaN,NaN,NaN,I taught myself during my PhD,2
18,277,Academic,4,1.0,3,1,0,3,3,1,...,It was a Meetup group that went through the st...,The Meetup for desiging a roadmap for the year...,Small conference: < 300 attendees,2.0,Multi-track: Every attendee chooses their own ...,Verifying that qualitative data is backed up b...,"Ideo, industry professionals, neilsen",Provide opportunities for emerging ux research...,"No, I was not taught how to conduct research",2
19,859,Academic,4,1.0,3,1,0,2,2,3,...,NaN,NaN,Small conference: < 300 attendees,2.0,Multi-track: Every attendee chooses their own ...,NaN,NaN,NaN,"Yes, I was taught how to conduct research",2
20,293,Academic,4,1.0,3,3,1,3,2,3,...,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,"Yes, I was taught how to conduct research",2
21,289,Academic,4,1.0,3,3,1,3,2,2,...,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,"Yes, I was taught how to conduct research",2
22,285,Academic,4,1.0,1,1,3,1,2,3,...,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,"Yes, I was taught how to conduct research",2
23,834,Analyst,3,2.0,1,3,1,1,3,1,...,Overnight coding camp - felt like a sleepover ...,"QRCA, AMA, CMC",Mid-size conference : 300-500 attendees,3.0,Single-track: All attendees experience the sam...,New available data gathering and analysis methods,"Big names - Google, Apple, Sysco",Focus on mid level researchers - often overlooked,"No, I was not taught how to conduct research",2
24,832,Analyst,3,2.0,3,3,0,3,3,3,...,UX Week is my favorite (I'm very sad that it i...,Besides UX week in 2016 I attended and present...,Mid-size conference : 300-500 attendees,3.0,Multi-track: Every attendee chooses their own ...,I would like to see how people perform researc...,I love to hear from people I never knew about ...,Be diverse in every aspect - and inclusive. No...,"Yes, I was taught how to conduct research",2
25,833,Analyst,3,2.0,3,3,1,1,0,1,...,"Afterburner Training - intensive, hands on, wa...",Sadly none,Retreat/workshop: < 50 attendees,1.0,Multi-track: Every attendee chooses their own ...,How to stand up and get buy-in for an enterpri...,"Steven Gates from Invision, and other user res...",Do your research...\n\nJust kidding. I would d...,"Yes, I was taught how to conduct research",2
26,831,Analyst,3,2.0,3,3,0,3,3,3,...,SfAA conference. Got to talk to other anthropo...,SfAAs and AAA,Small conference: < 300 attendees,2.0,Multi-track: Every attendee chooses their own ...,Exams of applied research topics.,Academics as well as private industry research...,Choose a conference location that allows for n...,"Yes, I was taught how to conduct research",2
27,830,Analyst,3,2.0,3,3,0,3,3,3,...,A smaller network conference on new hybrid met...,NaN,Small conference: < 300 attendees,2.0,Multi-track: Every attendee chooses their own ...,NaN,NaN,NaN,"No, I was not taught how to conduct research",2
28,828,Anthropologist,3,3.0,4,4,0,3,3,4,...,I really enjoyed the Global Business Anthropol...,"Midwest UX, Global Business Anthro Summit, a f...",Retreat to mid-size are all appealing,3.0,SIngle or multi-track,"""Cutting edge"" methods or interesting applicat...",NaN,"(Not about research, but about the user experi...","Yes, I was taught how to conduct research",2
29,829,Anthropologist,3,3.0,4,4,0,4,4,4,...,I went to a conference in Cleveland--boring to...,Local professional network book clubs (service...,Retreat/workshop: < 50 attendees,1.0,Single-track: All attendees experience the sam...,quant methods for qual people\ndata visualizat...,"health and healthcare people trying to do ""inn...","I don't know anything about Rosenfeld Media, b...","No, I was not taught how to conduct research",2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
838,80,UX Researcher,1,28.0,3,3,0,3,3,3,...,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,"Yes, I was taught how to conduct research",3
839,75,UX Researcher,1,28.0,4,4,0,4,4,4,...,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,"Yes, I was taught how to conduct research",3
840,69,UX Researcher,1,28.0,4,4,0,4,4,4,...,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,"No, I was not taught how to conduct research",3
841,60,UX Researcher,1,28.0,3,3,0,3,3,3,...,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,"Education taught some aspects, but I didn't fo...",3
842,47,UX Researcher,1,28.0,3,3,0,3,2,3,...,communities where similar background people sh...,researcher meet ups,NaN,5.0,NaN,NaN,NaN,NaN,"Yes, I was taught how to conduct research",4
843,45,UX Researcher,1,28.0,2,3,0,1,2,4,...,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,3
844,43,UX Researcher,1,28.0,4,4,1,3,4,4,...,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,"Yes, I was taught how to conduct research",3
845,42,UX Researcher,1,28.0,4,4,1,4,4,4,...,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,3
846,36,UX Researcher,1,28.0,4,4,0,4,1,3,...,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,"Yes, I was taught how to conduct research",3
847,29,UX Researcher,1,28.0,2,2,1,2,2,2,...,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,"Yes, I was taught how to conduct research",3
848,22,UX Researcher,1,28.0,4,4,1,4,2,3,...,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,"Yes, I was taught how to conduct research",3
849,194,UX Researcher,1,28.0,4,4,0,4,1,4,...,Indi Youngâ€™s Advanced Training series\nItâ€™s a ...,All of the above I attended in the past few years,NaN,5.0,NaN,NaN,NaN,NaN,"Yes, I was taught how to conduct research",3
850,181,UX Researcher,1,28.0,3,3,0,4,3,3,...,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,"Yes, I was taught how to conduct research",3
851,18,UX Researcher,1,28.0,3,3,0,3,0,3,...,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,"No, I was not taught how to conduct research",4
852,175,UX Researcher,1,28.0,3,3,3,1,2,3,...,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,"Yes, I was taught how to conduct research",4
853,157,UX Researcher,1,28.0,3,3,0,0,1,3,...,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,"Yes, I was taught how to conduct research",4
854,156,UX Researcher,1,28.0,4,4,0,4,1,4,...,Participatory Design Conference at UTS. Amazin...,Design Research (UX Australia),NaN,5.0,NaN,NaN,NaN,NaN,NaN,3
855,153,UX Researcher,1,28.0,4,4,0,3,1,4,...,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,"No, I was not taught how to conduct research",3
856,152,UX Researcher,1,28.0,3,3,0,3,0,3,...,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,"Yes, I was taught how to conduct research",3
857,146,UX Researcher,1,28.0,4,4,0,4,4,4,...,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,"Yes, I was taught how to conduct research",3
858,135,UX Researcher,1,28.0,4,4,0,4,3,4,...,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,"Yes, I was taught how to conduct research",3
859,129,UX Researcher,1,28.0,4,4,0,4,4,4,...,Introduction to user research in government 2 ...,NaN,NaN,5.0,NaN,NaN,NaN,NaN,"Yes, I was taught how to conduct research",3
860,126,UX Researcher,1,28.0,4,4,0,4,3,4,...,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,3
861,119,UX Researcher,1,28.0,4,4,0,4,4,4,...,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,"Yes, I was taught how to conduct research",3
862,113,UX Researcher,1,28.0,3,3,0,3,1,3,...,NaN,UX Brighton conference and several meetups.,NaN,5.0,NaN,NaN,NaN,NaN,"Yes, I was taught how to conduct research",4
863,105,UX Researcher,1,28.0,3,3,3,3,3,3,...,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,"Yes, I was taught how to conduct research",4
864,104,UX Researcher,1,28.0,3,3,0,4,1,3,...,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,none of my education had anything to do with r...,3
865,843,UX Researcher,1,28.0,4,4,0,4,2,4,...,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,"Yes, I was taught how to conduct research",3
866,876,UX Researcher,1,28.0,3,3,1,3,1,3,...,"Service Design Europe in Cardiff, very good 2-...",GOOD19,NaN,5.0,NaN,NaN,NaN,NaN,"Yes, I was taught how to conduct research",4
867,2,Writer,9,NaN,3,3,0,1,3,3,...,"Confab Higher Ed. Great people, great content.",NaN,Mid-size conference : 300-500 attendees,3.0,Multi-track: Every attendee chooses their own ...,NaN,NaN,NaN,"No, I was not taught how to conduct research",2

In [4]:
df = pd.read_excel('survey_responses.xlsx', header=0)

In [18]:
wrangle?

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 868 entries, 0 to 867
Data columns (total 72 columns):
q00     868 non-null int64
q01a    868 non-null object
q01b    868 non-null int64
q01c    865 non-null float64
q02a    868 non-null object
q02b    868 non-null object
q02c    868 non-null object
q02d    868 non-null object
q02e    868 non-null object
q02f    868 non-null object
q02g    868 non-null object
q02h    868 non-null object
q02i    868 non-null object
q02j    868 non-null object
q03     865 non-null object
q04     862 non-null object
q08a    824 non-null object
q08b    824 non-null object
q08c    824 non-null object
q08d    824 non-null object
q08e    824 non-null object
q08f    824 non-null object
q08g    824 non-null object
q08h    824 non-null object
q08i    824 non-null object
q08j    824 non-null object
q11a    807 non-null object
q11b    807 non-null object
q11c    807 non-null object
q11d    807 non-null object
q11e    807 non-null object
q12a    807 non-null object
q12b    807 non-null object
q12c    807 non-null object
q12d    807 non-null object
q12e    807 non-null object
q12f    807 non-null object
q12g    807 non-null object
q12h    807 non-null object
q13a    780 non-null object
q13b    780 non-null object
q13c    780 non-null object
q13d    780 non-null object
q13e    780 non-null object
q13g    780 non-null object
q13h    780 non-null object
q13i    780 non-null object
q13j    780 non-null object
q13f    780 non-null object
q19a    737 non-null object
q19b    737 non-null object
q19c    737 non-null object
q19d    737 non-null object
q19e    737 non-null object
q19f    737 non-null object
q19g    737 non-null object
q19h    737 non-null object
q20     261 non-null object
q05     868 non-null object
q06     808 non-null object
q07     713 non-null object
q10     598 non-null object
q14     681 non-null object
q15     628 non-null object
q16     589 non-null object
q17a    737 non-null object
q17b    866 non-null float64
q18a    737 non-null object
q21     567 non-null object
q22     476 non-null object
q23     499 non-null object
q09a    824 non-null object
dtypes: float64(2), int64(2), object(68)
memory usage: 488.3+ KB

In [6]:
df.q17a.head(15)

0                  depending on the professional values
1                           I would attend any of these
2     It depends - I really enjoyed small conference...
3                      Large conference: 500+ attendees
4                      Large conference: 500+ attendees
5               Mid-size conference : 300-500 attendees
6               Mid-size conference : 300-500 attendees
7               Mid-size conference : 300-500 attendees
8                      Retreat/workshop: < 50 attendees
9                      Retreat/workshop: < 50 attendees
10                     Retreat/workshop: < 50 attendees
11                     Retreat/workshop: < 50 attendees
12                    Small conference: < 300 attendees
13                    Small conference: < 300 attendees
14                    Small conference: < 300 attendees
Name: q17a, dtype: object

In [7]:
dfq = pd.read_excel('survey_questions.xlsx', header=0).set_index('qid')

dfq

,column_name,is_required,from_orig_file,char_type,function,encoder,survey_section,question_group,question_text
qid,,,,,,,,,
q00,resp_id,True,True,numeric,identification,NaN,Survey,ID,Entry Id
q01a,job_title,True,True,text,categorical,NaN,Work,Position,Title
q01b,job_taxo,True,True,numeric,categorical,NaN,Work,Position,Job Taxo ID
q01c,job_id,True,True,numeric,categorical,NaN,Work,Position,Job ID
q02a,job_conduct_res,True,True,numeric,quantitative,often5,Work,Research Duties,Conducting Research
q02b,job_analyze_res,True,True,numeric,quantitative,often5,Work,Research Duties,Analyzing Research
q02c,job_buy_res_report,True,True,numeric,quantitative,often5,Work,Research Duties,Buying Research Reports
q02d,job_manage_res_proj,True,True,numeric,quantitative,often5,Work,Research Duties,Managing Research Projects
q02e,job_observe_res,True,True,numeric,quantitative,often5,Work,Research Duties,Observing Research
q02f,job_plan_res,True,True,numeric,quantitative,often5,Work,Research Duties,Planning Research
q02g,job_teach_res,True,True,numeric,quantitative,often5,Work,Research Duties,Teaching Research
q02h,job_advocate_res,True,True,numeric,quantitative,often5,Work,Research Duties,Advocating for Research
q02i,job_hire_res_vendor,True,True,numeric,quantitative,often5,Work,Research Duties,Hiring Research Vendors
q02j,job_lead_res_team,True,True,numeric,quantitative,often5,Work,Research Duties,Leading a Research Team or Organization
q03,num_employees,False,True,numeric,categorical,q03dict,Work,Company Size,How many people does your company or organizat...
q04,num_researchers,False,True,numeric,categorical,q04dict,Work,Company researchers,How many people in your company or organizatio...
q05,primary_industry,True,True,text,categorical,NaN,Work,Industry,What is your company or organization's primary...
q06,types_res_used,False,True,numeric,categorical,NaN,Work,Current Research,What types of research do you (or your team) ...
q07,future_res,False,True,numeric,categorical,NaN,Work,Future Research,What types of research are you (or your team)...
q08a,exp_conduct_res,True,True,numeric,quantitative,tenure6,Experience,Research Experience,Conducting Research
q08b,exp_analyze_res,True,True,numeric,quantitative,tenure6,Experience,Research Experience,Analyzing Research
q08c,exp_buy_res_report,True,True,numeric,quantitative,tenure6,Experience,Research Experience,Buying Research Reports
q08d,exp_manage_res_proj,True,True,numeric,quantitative,tenure6,Experience,Research Experience,Managing Research Projects
q08e,exp_observe_res,True,True,numeric,quantitative,tenure6,Experience,Research Experience,Observing Research
q08f,exp_plan_res,True,True,numeric,quantitative,tenure6,Experience,Research Experience,Planning Research
q08g,exp_teach_res,True,True,numeric,quantitative,tenure6,Experience,Research Experience,Teaching Research
q08h,exp_advocate_res,True,True,numeric,quantitative,tenure6,Experience,Research Experience,Advocating for Research
q08i,exp_hire_res_vendor,True,True,numeric,quantitative,tenure6,Experience,Research Experience,Hiring Research Vendors
q08j,exp_lead_res_team,True,True,numeric,quantitative,tenure6,Experience,Research Experience,Leading a Research Team or Organization
q09a,ur_ed_include_res,True,True,mixed,mixed,NaN,Experience,Research Education,Did any part of your education include learnin...
...,...,...,...,...,...,...,...,...,...
q12g,likely_conference,True,True,numeric,quantitative,likely5,Learning,How You Want to Learn,Attend a conference
q12h,likely_workshop,True,True,numeric,quantitative,likely5,Learning,How You Want to Learn,Attend a longer form workshop
q13a,factor_speaker,True,True,numeric,quantitative,important5,Conference 1,Conference Factors,Speakers you've heard of
q13b,factor_diverse_speak,True,True,numeric,quantitative,important5,Conference 1,Conference Factors,Diversity of speakers' backgrounds and perspec...
q13c,factor_topics,True,True,numeric,quantitative,important5,Conference 1,Conference Factors,Topics covered
q13d,factor_format_sessions,True,True,numeric,quantitative,important5,Conference 1,Conference Factors,Format of sessions
q13e,factor_size,True,True,numeric,quantitative,important5,Conference 1,Conference Factors,Networking opportunities
q13f,factor_network,True,True,numeric,quantitative,important5,Conference 1,Conference Factors,Number of attendees/degree of intimacy
q13g,factor_variety_attend,True,True,numeric,quantitative,important5,Conference 1,Conference Factors,Variety of attendees to network with
q13h,factor_code,True,True,numeric,quantitative,important5,Conference 1,Conference Factors,Code of conduct in place
q13i,factor_location,True,True,numeric,quantitative,important5,Conference 1,Conference Factors,Conference location
q13j,factor_ability_to_pay,True,True,numeric,quantitative,important5,Conference 1,Conference Factors,Your (or your employer's) ability to pay
q14,how_pick_events,False,True,text,qualitative,NaN,Conference 1,Event Selection,How do you decide which events to attend? (If ...
q15,best_event,False,True,text,qualitative,NaN,Conference 1,Best Event,What was the best professional learning event ...
q16,events_attend_recent,False,True,text,qualitative,NaN,Conference 1,Events Attended,What (if any) events have you attended on the ...
q17a,ideal_conference_size,True,True,mixed,mixed,NaN,Conference 2,Desired Size,What would be the ideal audience size for a co...
q17b,ideal_conference_size_cat,True,True,numeric,categorical,NaN,Conference 2,Desired Size Cat,Ideal Audience Size (Standardized)
q18a,ideal_structure,True,True,mixed,mixed,NaN,Conference 2,Desired Structure,What would be the ideal structure for a confer...
q19a,session_keynote,True,True,numeric,quantitative,important5,Conference 2,Session Types,Keynotes from leaders in research
q19b,session_long_talk,True,True,numeric,quantitative,important5,Conference 2,Session Types,Full length talks (30-60 minutes)
q19c,session_short_talk,True,True,numeric,quantitative,important5,Conference 2,Session Types,Short or Lightning talks (< 30 minutes)
q19d,session_workshop,True,True,numeric,quantitative,important5,Conference 2,Session Types,Workshops
q19e,session_network,True,True,numeric,quantitative,important5,Conference 2,Session Types,Networking events
q19f,session_social_event,True,True,numeric,quantitative,important5,Conference 2,Session Types,"Social events (e.g., parties, karaoke, game ni..."
q19g,session_qa,True,True,numeric,quantitative,important5,Conference 2,Session Types,Q&A/AMA (ask me anything) sessions
q19h,sesson_topic_tables,True,True,numeric,quantitative,important5,Conference 2,Session Types,Discussion circles/topic tables
q20,other_conference_types,False,True,text,qualitative,NaN,Conference 2,Sessions of Interest,Did we miss any other types of conference sess...
q21,ideal_topics,False,True,text,qualitative,NaN,Conference 2,Desired Topics,"If attending a conference about research, what..."
q22,ideal_attendees,False,True,text,qualitative,NaN,Conference 2,Desired Attendees,"If attending a conference about research, who ..."
q23,recommendations,False,True,text,qualitative,NaN,Conference 2,Conference Advice,Letâ€™s say (hypothetically of course) that Rose...

In [8]:
def get_objs(df, **kwargs):
    '''
    get_objs(df, **kwargs)
    RETURNS pd Series
    '''
    return df.columns[df.dtypes=='object']

In [9]:
def get_uniques(df, max_uniques=10, target_col='', **kwargs):
    '''
    get_uniques(df, max_uniques=10, target_col='', **kwargs)
    RETURNS summary dataframe
    Receives dataframe as input, examines all columns defined as objects, and
    returns a summary report with column name as its index.
    Report showss on the number of unique values (column 'nunuiques') within 
    each column and provides the unique values column('uniques') if the unique 
    value count is is less than or equal to max_uniques.
    If the input dataframe contains the target column, enter that name as the 
    target_col argument so it can be removed from the analysis.
    '''
    df_objs = pd.DataFrame(get_objs(df), columns=['cols'])
    df_objs = df_objs[df_objs.cols != target_col]
    df_objs['nuniques'] = df_objs.cols.apply(lambda x: df[x].nunique())
    df_cats = df_objs[df_objs.nuniques <= max_uniques]
    df_cats['uniques'] = df_cats.cols.apply(lambda x: df[x].unique())
    df_objs = df_objs.join(df_cats.uniques, how='left')
    return df_objs.set_index('cols')

In [10]:
df_uniques = get_uniques(df, truncate=False).sort_values('cols')
df_uniques.to_json('df_uniques.json')

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [11]:
df_uniques

      nuniques                                            uniques
cols
q01a        29                                                NaN
q02a         5  [Often, Occasionally, All or almost all, Neutr...
q02b         5  [Neutral, Often, All or almost all, Never, Occ...
q02c         5  [Never, Occasionally, Often, Neutral, All or a...
q02d         5  [Often, Neutral, Occasionally, All or almost a...
q02e         5  [Often, Occasionally, All or almost all, Never...
q02f         5  [Often, Neutral, All or almost all, Occasional...
q02g         5  [Often, Never, Neutral, All or almost all, Occ...
q02h         5  [Neutral, Often, Occasionally, Never, All or a...
q02i         5  [Occasionally, Never, Often, Neutral, All or a...
q02j         5  [All or almost all, Often, Never, Neutral, Occ...
q03          5  [1-25 employees, 1,000+ employees, 101-500 emp...
q04          4  [11-50 employees, 50+ employees, 6-10 employee...
q05        485                                                NaN
q06        785                                                NaN
q07        660                                                NaN
q08a         6  [10+ years, 7-10 years, 1-3 years, 3-5 years, ...
q08b         6  [10+ years, 7-10 years, 1-3 years, 5-7 years, ...
q08c         6  [10+ years, 5-7 years, 0-1 year, 1-3 years, na...
q08d         6  [10+ years, 5-7 years, 1-3 years, 3-5 years, 7...
q08e         6  [10+ years, 7-10 years, 1-3 years, 3-5 years, ...
q08f         6  [10+ years, 7-10 years, 1-3 years, 5-7 years, ...
q08g         6  [10+ years, 7-10 years, 0-1 year, 3-5 years, 5...
q08h         6  [10+ years, 7-10 years, 1-3 years, 5-7 years, ...
q08i         6  [10+ years, 3-5 years, 5-7 years, 0-1 year, 1-...
q08j         6  [10+ years, 5-7 years, 0-1 year, 3-5 years, 7-...
q09a        55                                                NaN
q10        595                                                NaN
q11a         4             [Never, Sometimes, Rarely, Often, nan]
q11b         4             [Rarely, Often, Sometimes, nan, Never]
...        ...                                                ...
q12f         5  [Likely, Neutral, Unlikely, Extremely likely, ...
q12g         5  [Extremely likely, Neutral, Likely, nan, Unlik...
q12h         5  [Extremely likely, Neutral, Likely, Unlikely, ...
q13a         5  [Important, Neutral, Not at all Important, Ver...
q13b         5  [Important, Somewhat Important, Neutral, Very ...
q13c         5  [Very Important, Important, nan, Neutral, Some...
q13d         5  [Neutral, Important, Very Important, Somewhat ...
q13e         5  [Important, Very Important, Somewhat Important...
q13f         5  [Somewhat Important, Neutral, Very Important, ...
q13g         5  [Important, Somewhat Important, Neutral, Not a...
q13h         5  [Somewhat Important, Important, Neutral, Very ...
q13i         5  [Important, Neutral, Very Important, Somewhat ...
q13j         5  [Very Important, Important, Neutral, nan, Some...
q14        679                                                NaN
q15        626                                                NaN
q16        528                                                NaN
q17a        64                                                NaN
q18a        44                                                NaN
q19a         5  [Very Important, Important, Neutral, nan, Some...
q19b         5  [Neutral, Important, Very Important, Not at al...
q19c         5  [Neutral, Important, Somewhat Important, Not a...
q19d         5  [Neutral, Important, Very Important, nan, Some...
q19e         5  [Important, Neutral, Very Important, Somewhat ...
q19f         5  [Neutral, Somewhat Important, Not at all Impor...
q19g         5  [Neutral, Somewhat Important, Important, Not a...
q19h         5  [Neutral, Very Important, Important, Somewhat ...
q20        180                                                NaN
q21        566                                                NaN
q22        474                                                NaN
q23        497                                                NaN

[68 rows x 2 columns]

In [12]:
dict_list = {
    'important5': {
        'Not at all Important' : 0,
        'Somewhat Important' : 1,
        'Neutral' : 2,
        'Important' : 3,
        'Very Important': 4,
        np.NaN: None
    },
    'likely5': {
        'Extremely unlikely' : 0,
        'Unlikely' : 1,
        'Neutral' : 2,
        'Likely' : 3,
        'Extremely likely': 4,
        np.NaN: None
    },
    'often4': {
        'Never': 0,
        'Rarely': 1,
        'Sometimes': 2,
        'Often': 3,
        np.NaN: None
    },
    'often5': {
        'Never': 0,
        'Occasionally': 1,
        'Neutral': 2,
        'Often': 3,
        'All or almost all': 4,
        np.NaN: None
    },
    'tenure6': {
        "0-1 year": 0,
        "1-3 years": 1,
        "3-5 years": 2,
        "5-7 years": 3,
        "7-10 years": 4,
        "10+ years": 5,
        np.NaN: None
    },
    'q03dict': {
        "1-25 employees": 0,
        "26-100 employees": 1, 
        "101-500 employees": 2,
        "501-1,000 employees": 3,
        "1,000+ employees": 4,
        np.NaN: None
    },
    'q04dict': {
        "1-5 employees": 0,
        "6-10 employees": 1,
        "11-50 employees": 2,
        "50+ employees": 3,
        np.NaN: None
    }
}

In [13]:
qlib = pd.read_csv('question_library.txt').dropna().set_index('qid2')
qlib['col'] = qlib.index
qlib

         cat_lib   col
qid2
q02a      often5  q02a
q02b      often5  q02b
q02c      often5  q02c
q02d      often5  q02d
q02e      often5  q02e
q02f      often5  q02f
q02g      often5  q02g
q02h      often5  q02h
q02i      often5  q02i
q02j      often5  q02j
q03      q03dict   q03
q04      q04dict   q04
q08a     tenure6  q08a
q08b     tenure6  q08b
q08c     tenure6  q08c
q08d     tenure6  q08d
q08e     tenure6  q08e
q08f     tenure6  q08f
q08g     tenure6  q08g
q08h     tenure6  q08h
q08i     tenure6  q08i
q08j     tenure6  q08j
q11a      often4  q11a
q11b      often4  q11b
q11c      often4  q11c
q11d      often4  q11d
q11e      often4  q11e
q12a     likely5  q12a
q12b     likely5  q12b
q12c     likely5  q12c
q12d     likely5  q12d
q12e     likely5  q12e
q12f     likely5  q12f
q12g     likely5  q12g
q12h     likely5  q12h
q13a  important5  q13a
q13b  important5  q13b
q13c  important5  q13c
q13d  important5  q13d
q13e  important5  q13e
q13f  important5  q13f
q13g  important5  q13g
q13h  important5  q13h
q13i  important5  q13i
q13j  important5  q13j
q19a  important5  q19a
q19b  important5  q19b
q19c  important5  q19c
q19d  important5  q19d
q19e  important5  q19e
q19f  important5  q19f
q19g  important5  q19g
q19h  important5  q19h

In [14]:
checkcol = 'q19g'
use_dict = dict_list[qlib.cat_lib[checkcol]]
print(use_dict)


encoded = df[checkcol].apply(lambda x: use_dict[x])
encoded.head(10)

{'Not at all Important': 0, 'Somewhat Important': 1, 'Neutral': 2, 'Important': 3, 'Very Important': 4, nan: None}

0    2.0
1    1.0
2    2.0
3    3.0
4    2.0
5    3.0
6    2.0
7    1.0
8    2.0
9    2.0
Name: q19g, dtype: float64

In [15]:
def encode_columns(df, cols, dicts, check_dicts):
#     print('***** cols *****')
#     print(cols.head())
#     print('***** dicts *****')
#     print(dicts)
#     print('***** check_dicts *****')
#     print(check_dicts.head())
    for col in cols:
#         print('*****\n','col',col)
        use_dict = dicts[check_dicts[col]]
#         print(use_dict)
        encoded = df[col].apply(lambda x: use_dict[x])
#         print('*****\n',encoded.head())
        df[col] = encoded
    return df
    pass

In [16]:
df2 = df.copy()
# display(df2.info())
display(df2.head())

encode_columns(df=df2, cols=qlib.col, dicts=dict_list, check_dicts=qlib.cat_lib)
display(df2.head())
df2.info()

,q00,q01a,q01b,q01c,q02a,q02b,q02c,q02d,q02e,q02f,...,q14,q15,q16,q17a,q17b,q18a,q21,q22,q23,q09a
0,284,Academic,4,1.0,Often,Neutral,Never,Often,Often,Often,...,NaN,NaN,"CHI, INTERACT",depending on the professional values,7.0,"any, depending on the values",research-practice connections,NaN,research-practice connections,"sort of, psychology background."
1,288,Academic,4,1.0,Occasionally,Neutral,Occasionally,Often,Often,Often,...,"Content, cost, timing (can I get away at this ...","Dagstuhl workshop - small, intense, intimate g...",Hawaii international conference on Education,I would attend any of these,6.0,Multi-track: Every attendee chooses their own ...,NaN,NaN,Donâ€™t create schedule conflicts with other rel...,"Yes, I was taught how to conduct research"
2,294,Academic,4,1.0,Often,Often,Occasionally,Often,Occasionally,Often,...,- time for travel (having two small children]\...,Courses at Copenhagen University (deep knowle...,"Research Tuesdays (Czech), UX/Design Conferen...",It depends - I really enjoyed small conference...,7.0,It depends,NaN,NaN,Looking forward! \n,"Yes, I was taught how to conduct research"
3,281,Academic,4,1.0,Often,All or almost all,Never,Neutral,Often,Neutral,...,My professional development budget allows me t...,A workshop at the Society for Applied Anthropo...,A local education implementation conference.,Large conference: 500+ attendees,4.0,Multi-track: Every attendee chooses their own ...,"Research design, innovative methods, communica...",NaN,NaN,"Yes, I was taught how to conduct research"
4,280,Academic,4,1.0,Often,Often,Never,Occasionally,Occasionally,Often,...,NaN,NaN,NaN,Large conference: 500+ attendees,4.0,Multi-track: Every attendee chooses their own ...,NaN,NaN,NaN,"No, I was not taught how to conduct research"

,q00,q01a,q01b,q01c,q02a,q02b,q02c,q02d,q02e,q02f,...,q14,q15,q16,q17a,q17b,q18a,q21,q22,q23,q09a
0,284,Academic,4,1.0,3,2,0,3,3,3,...,NaN,NaN,"CHI, INTERACT",depending on the professional values,7.0,"any, depending on the values",research-practice connections,NaN,research-practice connections,"sort of, psychology background."
1,288,Academic,4,1.0,1,2,1,3,3,3,...,"Content, cost, timing (can I get away at this ...","Dagstuhl workshop - small, intense, intimate g...",Hawaii international conference on Education,I would attend any of these,6.0,Multi-track: Every attendee chooses their own ...,NaN,NaN,Donâ€™t create schedule conflicts with other rel...,"Yes, I was taught how to conduct research"
2,294,Academic,4,1.0,3,3,1,3,1,3,...,- time for travel (having two small children]\...,Courses at Copenhagen University (deep knowle...,"Research Tuesdays (Czech), UX/Design Conferen...",It depends - I really enjoyed small conference...,7.0,It depends,NaN,NaN,Looking forward! \n,"Yes, I was taught how to conduct research"
3,281,Academic,4,1.0,3,4,0,2,3,2,...,My professional development budget allows me t...,A workshop at the Society for Applied Anthropo...,A local education implementation conference.,Large conference: 500+ attendees,4.0,Multi-track: Every attendee chooses their own ...,"Research design, innovative methods, communica...",NaN,NaN,"Yes, I was taught how to conduct research"
4,280,Academic,4,1.0,3,3,0,1,1,3,...,NaN,NaN,NaN,Large conference: 500+ attendees,4.0,Multi-track: Every attendee chooses their own ...,NaN,NaN,NaN,"No, I was not taught how to conduct research"

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 868 entries, 0 to 867
Data columns (total 72 columns):
q00     868 non-null int64
q01a    868 non-null object
q01b    868 non-null int64
q01c    865 non-null float64
q02a    868 non-null int64
q02b    868 non-null int64
q02c    868 non-null int64
q02d    868 non-null int64
q02e    868 non-null int64
q02f    868 non-null int64
q02g    868 non-null int64
q02h    868 non-null int64
q02i    868 non-null int64
q02j    868 non-null int64
q03     865 non-null float64
q04     862 non-null float64
q08a    824 non-null float64
q08b    824 non-null float64
q08c    824 non-null float64
q08d    824 non-null float64
q08e    824 non-null float64
q08f    824 non-null float64
q08g    824 non-null float64
q08h    824 non-null float64
q08i    824 non-null float64
q08j    824 non-null float64
q11a    807 non-null float64
q11b    807 non-null float64
q11c    807 non-null float64
q11d    807 non-null float64
q11e    807 non-null float64
q12a    807 non-null float64
q12b    807 non-null float64
q12c    807 non-null float64
q12d    807 non-null float64
q12e    807 non-null float64
q12f    807 non-null float64
q12g    807 non-null float64
q12h    807 non-null float64
q13a    780 non-null float64
q13b    780 non-null float64
q13c    780 non-null float64
q13d    780 non-null float64
q13e    780 non-null float64
q13g    780 non-null float64
q13h    780 non-null float64
q13i    780 non-null float64
q13j    780 non-null float64
q13f    780 non-null float64
q19a    737 non-null float64
q19b    737 non-null float64
q19c    737 non-null float64
q19d    737 non-null float64
q19e    737 non-null float64
q19f    737 non-null float64
q19g    737 non-null float64
q19h    737 non-null float64
q20     261 non-null object
q05     868 non-null object
q06     808 non-null object
q07     713 non-null object
q10     598 non-null object
q14     681 non-null object
q15     628 non-null object
q16     589 non-null object
q17a    737 non-null object
q17b    866 non-null float64
q18a    737 non-null object
q21     567 non-null object
q22     476 non-null object
q23     499 non-null object
q09a    824 non-null object
dtypes: float64(45), int64(12), object(15)
memory usage: 488.3+ KB

In [19]:
x = !pwd
x

['/Users/kevineliasen/GoogleDrive/CodingStuff/Codeup/Capstone/kev']