In [1]:
# Python updates

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

In [2]:
# Local updates

import sys
sys.path.append('../')
import wrangle

In [ ]:
def ifull(obj):
    with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
        display(obj)

In [4]:
df, dictdf = wrangle.wrangle_data()
print(df.shape)
display(df.head(5))
display(df.describe().T)

(726, 78)

,job_title,job_taxo,job_id,job_conduct_res,job_analyze_res,job_buy_res_report,job_manage_res_proj,job_observe_res,job_plan_res,job_teach_res,...,session_workshop,session_network,session_social_event,session_qa,sesson_topic_tables,other_conference_types,ideal_topics,ideal_attendees,recommendations,persona_id
resp_id,,,,,,,,,,,,,,,,,,,,,
284,Academic,4,1.0,3,2,0,3,3,3,3,...,2,3,2,2,2,NaN,research-practice connections,NaN,research-practice connections,2
288,Academic,4,1.0,1,2,1,3,3,3,3,...,3,3,1,1,2,NaN,NaN,NaN,Don’t create schedule conflicts with other rel...,2
294,Academic,4,1.0,3,3,1,3,1,3,3,...,2,2,2,2,2,NaN,NaN,NaN,Looking forward! \n,2
281,Academic,4,1.0,3,4,0,2,3,2,0,...,3,2,2,3,2,NaN,"Research design, innovative methods, communica...",NaN,NaN,2
280,Academic,4,1.0,3,3,0,1,1,3,2,...,3,2,1,2,2,You should consider the combination of confere...,NaN,NaN,NaN,2

                        count      mean       std  min  25%  50%  75%  max
job_conduct_res         726.0  2.856749  1.025941  0.0  3.0  3.0  4.0  4.0
job_analyze_res         726.0  2.913223  0.939210  0.0  3.0  3.0  3.0  4.0
job_buy_res_report      726.0  0.402204  0.720686  0.0  0.0  0.0  1.0  4.0
job_manage_res_proj     726.0  2.600551  1.166285  0.0  2.0  3.0  3.0  4.0
job_observe_res         726.0  1.982094  1.134273  0.0  1.0  2.0  3.0  4.0
job_plan_res            726.0  2.931129  0.950177  0.0  3.0  3.0  4.0  4.0
job_teach_res           726.0  1.845730  1.236637  0.0  1.0  2.0  3.0  4.0
job_advocate_res        726.0  2.924242  1.056235  0.0  3.0  3.0  4.0  4.0
job_hire_res_vendor     726.0  0.776860  0.914143  0.0  0.0  1.0  1.0  4.0
job_lead_res_team       726.0  1.860882  1.486931  0.0  0.0  2.0  3.0  4.0
exp_conduct_res         726.0  3.283747  1.571974  0.0  2.0  4.0  5.0  5.0
exp_analyze_res         726.0  3.323691  1.553165  0.0  2.0  4.0  5.0  5.0
exp_buy_res_report      726.0  0.960055  1.608530  0.0  0.0  0.0  1.0  5.0
exp_manage_res_proj     726.0  2.633609  1.702955  0.0  1.0  2.0  4.0  5.0
exp_observe_res         726.0  3.084022  1.694565  0.0  2.0  3.0  5.0  5.0
exp_plan_res            726.0  3.139118  1.589165  0.0  2.0  3.0  5.0  5.0
exp_teach_res           726.0  1.862259  1.684913  0.0  0.0  1.0  3.0  5.0
exp_advocate_res        726.0  2.906336  1.711475  0.0  1.0  3.0  5.0  5.0
exp_hire_res_vendor     726.0  1.326446  1.654099  0.0  0.0  1.0  2.0  5.0
exp_lead_res_team       726.0  1.632231  1.674476  0.0  0.0  1.0  3.0  5.0
learning_talks          726.0  2.074380  0.791318  0.0  2.0  2.0  3.0  3.0
learning_read           726.0  2.659780  0.571707  0.0  2.0  3.0  3.0  3.0
learning_meetup         726.0  1.801653  0.836609  0.0  1.0  2.0  2.0  3.0
learning_workshop       726.0  1.451791  0.784165  0.0  1.0  1.0  2.0  3.0
learning_conference     726.0  1.663912  0.761119  0.0  1.0  2.0  2.0  3.0
likely_watch_video      726.0  2.982094  0.960436  0.0  3.0  3.0  4.0  4.0
likely_internet         726.0  3.500000  0.711967  0.0  3.0  4.0  4.0  4.0
likely_book             726.0  3.263085  0.834391  0.0  3.0  3.0  4.0  4.0
likely_online_group     726.0  2.079890  1.213355  0.0  1.0  2.0  3.0  4.0
likely_colleague        726.0  3.053719  0.983242  0.0  3.0  3.0  4.0  4.0
likely_meetup           726.0  2.202479  1.150254  0.0  1.0  2.0  3.0  4.0
likely_conference       726.0  2.250689  1.143723  0.0  1.0  2.0  3.0  4.0
likely_workshop         726.0  2.360882  1.101378  0.0  2.0  2.0  3.0  4.0
factor_speaker          726.0  2.236915  1.157435  0.0  1.0  2.0  3.0  4.0
factor_diverse_speak    726.0  2.871901  1.071954  0.0  2.0  3.0  4.0  4.0
factor_topics           726.0  3.652893  0.590183  0.0  3.0  4.0  4.0  4.0
factor_format_sessions  726.0  2.776860  0.926135  0.0  2.0  3.0  3.0  4.0
factor_size             726.0  2.209366  1.168658  0.0  1.0  2.0  3.0  4.0
factor_network          726.0  1.998623  1.107341  0.0  1.0  2.0  3.0  4.0
factor_variety_attend   726.0  2.028926  1.158115  0.0  1.0  2.0  3.0  4.0
factor_code             726.0  1.903581  1.263411  0.0  1.0  2.0  3.0  4.0
factor_location         726.0  2.944904  1.019666  0.0  2.0  3.0  4.0  4.0
factor_ability_to_pay   726.0  3.336088  0.971309  0.0  3.0  4.0  4.0  4.0
ideal_multi_track       726.0  0.625344  0.484368  0.0  0.0  1.0  1.0  1.0
ideal_single_track      726.0  0.334711  0.472215  0.0  0.0  0.0  1.0  1.0
ideal_unconference      726.0  0.061983  0.241292  0.0  0.0  0.0  0.0  1.0
session_keynote         726.0  2.706612  1.124344  0.0  2.0  3.0  3.0  4.0
session_long_talk       726.0  2.754821  0.977229  0.0  2.0  3.0  3.0  4.0
session_short_talk      726.0  2.341598  1.106273  0.0  2.0  3.0  3.0  4.0
session_workshop        726.0  2.988981  1.109154  0.0  2.0  3.0  4.0  4.0
session_network         726.0  2.173554  1.219458  0.0  1.0  2.0  3.0  4.0
session_social_event    726.0  1.480716  1.239149  0.0  0.0  1.0  2.0  4.0
session_qa              726.0  2.121212  1.179908  0.0  1.0  2.0  3.0  4.0
sesson_topic_tables     726.0  2.431129  1.211472  0.0  2.0  3.0  3.0  4.0

In [6]:
print(dictdf.shape)
display(dictdf)
display(dictdf.describe().T)

(79, 11)

,column_name,is_required,from_orig_file,in_wrangle,char_type,function,data_type,encoder,survey_section,question_group,question_text
qid,,,,,,,,,,,
q00,resp_id,True,True,True,numeric,identification,int64,NaN,Survey,ID,Entry Id
q01a,job_title,True,True,True,text,categorical,category,NaN,Work,Position,Title
q01b,job_taxo,True,True,True,numeric,categorical,category,NaN,Work,Position,Job Taxo ID
q01c,job_id,False,True,True,numeric,categorical,category,NaN,Work,Position,Job ID
q02a,job_conduct_res,True,True,True,numeric,quantitative,int64,often5,Work,Research Duties,Conducting Research
...,...,...,...,...,...,...,...,...,...,...,...
q20,other_conference_types,False,True,True,text,qualitative,object,NaN,Conference 2,Sessions of Interest,Did we miss any other types of conference sess...
q21,ideal_topics,False,True,True,text,qualitative,object,NaN,Conference 2,Desired Topics,"If attending a conference about research, what..."
q22,ideal_attendees,False,True,True,text,qualitative,object,NaN,Conference 2,Desired Attendees,"If attending a conference about research, who ..."
q23,recommendations,False,True,True,text,qualitative,object,NaN,Conference 2,Conference Advice,Let’s say (hypothetically of course) that Rose...
x01,persona_id,False,False,True,numeric,categorical,category,NaN,NaN,NaN,NaN

               count unique                                      top freq
column_name       79     79                          ideal_attendees    1
is_required       79      2                                     True   61
from_orig_file    79      2                                     True   72
in_wrangle        79      1                                     True   79
char_type         79      3                                  numeric   66
function          79      5                             quantitative   51
data_type         79      3                                    int64   55
encoder           59     11                               important5   18
survey_section    78      6                             Conference 2   20
question_group    78     23                       Conference Factors   10
question_text     78     64  Leading a Research Team or Organization    2