In [1]:
import pandas as pd
import numpy as np

In [41]:
df = pd.read_excel('survey_responses.xlsx', header=0)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 868 entries, 0 to 867
Data columns (total 72 columns):
q00     868 non-null int64
q01a    868 non-null object
q01b    868 non-null int64
q01c    865 non-null float64
q02a    868 non-null object
q02b    868 non-null object
q02c    868 non-null object
q02d    868 non-null object
q02e    868 non-null object
q02f    868 non-null object
q02g    868 non-null object
q02h    868 non-null object
q02i    868 non-null object
q02j    868 non-null object
q03     865 non-null object
q04     862 non-null object
q08a    824 non-null object
q08b    824 non-null object
q08c    824 non-null object
q08d    824 non-null object
q08e    824 non-null object
q08f    824 non-null object
q08g    824 non-null object
q08h    824 non-null object
q08i    824 non-null object
q08j    824 non-null object
q11a    807 non-null object
q11b    807 non-null object
q11c    807 non-null object
q11d    807 non-null object
q11e    807 non-null object
q12a    807 non-null object
q12b    807 non-null object
q12c    807 non-null object
q12d    807 non-null object
q12e    807 non-null object
q12f    807 non-null object
q12g    807 non-null object
q12h    807 non-null object
q13a    780 non-null object
q13b    780 non-null object
q13c    780 non-null object
q13d    780 non-null object
q13e    780 non-null object
q13g    780 non-null object
q13h    780 non-null object
q13i    780 non-null object
q13j    780 non-null object
q13f    780 non-null object
q19a    737 non-null object
q19b    737 non-null object
q19c    737 non-null object
q19d    737 non-null object
q19e    737 non-null object
q19f    737 non-null object
q19g    737 non-null object
q19h    737 non-null object
q20     261 non-null object
q05     868 non-null object
q06     808 non-null object
q07     713 non-null object
q10     598 non-null object
q14     681 non-null object
q15     628 non-null object
q16     589 non-null object
q17a    737 non-null object
q17b    866 non-null float64
q18a    737 non-null object
q21     567 non-null object
q22     476 non-null object
q23     499 non-null object
q09a    824 non-null object
dtypes: float64(2), int64(2), object(68)
memory usage: 488.3+ KB

In [4]:
df.q17a.head(15)

0                  depending on the professional values
1                           I would attend any of these
2     It depends - I really enjoyed small conference...
3                      Large conference: 500+ attendees
4                      Large conference: 500+ attendees
5               Mid-size conference : 300-500 attendees
6               Mid-size conference : 300-500 attendees
7               Mid-size conference : 300-500 attendees
8                      Retreat/workshop: < 50 attendees
9                      Retreat/workshop: < 50 attendees
10                     Retreat/workshop: < 50 attendees
11                     Retreat/workshop: < 50 attendees
12                    Small conference: < 300 attendees
13                    Small conference: < 300 attendees
14                    Small conference: < 300 attendees
Name: q17a, dtype: object

In [5]:
dfq = pd.read_excel('survey_questions.xlsx', header=0)
dfq

,QID2,survey_section,question_group,Is_required,question_text
0,q00,Survey,ID,True,Entry Id
1,q01a,Work,Position,True,Title
2,q01b,Work,Position,True,Job Taxo ID
3,q01c,Work,Position,True,Job ID
4,q02a,Work,Research Duties,True,Conducting Research
5,q02b,Work,Research Duties,True,Analyzing Research
6,q02c,Work,Research Duties,True,Buying Research Reports
7,q02d,Work,Research Duties,True,Managing Research Projects
8,q02e,Work,Research Duties,True,Observing Research
9,q02f,Work,Research Duties,True,Planning Research
10,q02g,Work,Research Duties,True,Teaching Research
11,q02h,Work,Research Duties,True,Advocating for Research
12,q02i,Work,Research Duties,True,Hiring Research Vendors
13,q02j,Work,Research Duties,True,Leading a Research Team or Organization
14,q03,Work,Company Size,False,How many people does your company or organizat...
15,q04,Work,Company researchers,False,How many people in your company or organizatio...
16,q05,Work,Industry,True,What is your company or organization's primary...
17,q06,Work,Current Research,False,What types of research do you (or your team) ...
18,q07,Work,Future Research,False,What types of research are you (or your team)...
19,q08a,Experience,Research Experience,True,Conducting Research
20,q08b,Experience,Research Experience,True,Analyzing Research
21,q08c,Experience,Research Experience,True,Buying Research Reports
22,q08d,Experience,Research Experience,True,Managing Research Projects
23,q08e,Experience,Research Experience,True,Observing Research
24,q08f,Experience,Research Experience,True,Planning Research
25,q08g,Experience,Research Experience,True,Teaching Research
26,q08h,Experience,Research Experience,True,Advocating for Research
27,q08i,Experience,Research Experience,True,Hiring Research Vendors
28,q08j,Experience,Research Experience,True,Leading a Research Team or Organization
29,q09a,Experience,Research Education,True,Did any part of your education include learnin...
...,...,...,...,...,...
42,q12g,Learning,How You Want to Learn,True,Attend a conference
43,q12h,Learning,How You Want to Learn,True,Attend a longer form workshop
44,q13a,Conference 1,Conference Factors,True,Speakers you've heard of
45,q13b,Conference 1,Conference Factors,True,Diversity of speakers' backgrounds and perspec...
46,q13c,Conference 1,Conference Factors,True,Topics covered
47,q13d,Conference 1,Conference Factors,True,Format of sessions
48,q13e,Conference 1,Conference Factors,True,Networking opportunities
49,q13f,Conference 1,Conference Factors,True,Number of attendees/degree of intimacy
50,q13g,Conference 1,Conference Factors,True,Variety of attendees to network with
51,q13h,Conference 1,Conference Factors,True,Code of conduct in place
52,q13i,Conference 1,Conference Factors,True,Conference location
53,q13j,Conference 1,Conference Factors,True,Your (or your employer's) ability to pay
54,q14,Conference 1,Event Selection,False,How do you decide which events to attend? (If ...
55,q15,Conference 1,Best Event,False,What was the best professional learning event ...
56,q16,Conference 1,Events Attended,False,What (if any) events have you attended on the ...
57,q17a,Conference 2,Desired Size,True,What would be the ideal audience size for a co...
58,q17b,Conference 2,Desired Size Cat,True,Ideal Audience Size (Standardized)
59,q18a,Conference 2,Desired Structure,True,What would be the ideal structure for a confer...
60,q19a,Conference 2,Session Types,True,Keynotes from leaders in research
61,q19b,Conference 2,Session Types,True,Full length talks (30-60 minutes)
62,q19c,Conference 2,Session Types,True,Short or Lightning talks (< 30 minutes)
63,q19d,Conference 2,Session Types,True,Workshops
64,q19e,Conference 2,Session Types,True,Networking events
65,q19f,Conference 2,Session Types,True,"Social events (e.g., parties, karaoke, game ni..."
66,q19g,Conference 2,Session Types,True,Q&A/AMA (ask me anything) sessions
67,q19h,Conference 2,Session Types,True,Discussion circles/topic tables
68,q20,Conference 2,Sessions of Interest,False,Did we miss any other types of conference sess...
69,q21,Conference 2,Desired Topics,False,"If attending a conference about research, what..."
70,q22,Conference 2,Desired Attendees,False,"If attending a conference about research, who ..."
71,q23,Conference 2,Conference Advice,False,Let’s say (hypothetically of course) that Rose...

In [6]:
def get_objs(df, **kwargs):
    '''
    get_objs(df, **kwargs)
    RETURNS pd Series
    '''
    return df.columns[df.dtypes=='object']

In [7]:
def get_uniques(df, max_uniques=10, target_col='', **kwargs):
    '''
    get_uniques(df, max_uniques=10, target_col='', **kwargs)
    RETURNS summary dataframe
    Receives dataframe as input, examines all columns defined as objects, and
    returns a summary report with column name as its index.
    Report showss on the number of unique values (column 'nunuiques') within 
    each column and provides the unique values column('uniques') if the unique 
    value count is is less than or equal to max_uniques.
    If the input dataframe contains the target column, enter that name as the 
    target_col argument so it can be removed from the analysis.
    '''
    df_objs = pd.DataFrame(get_objs(df), columns=['cols'])
    df_objs = df_objs[df_objs.cols != target_col]
    df_objs['nuniques'] = df_objs.cols.apply(lambda x: df[x].nunique())
    df_cats = df_objs[df_objs.nuniques <= max_uniques]
    df_cats['uniques'] = df_cats.cols.apply(lambda x: df[x].unique())
    df_objs = df_objs.join(df_cats.uniques, how='left')
    return df_objs.set_index('cols')

In [8]:
df_uniques = get_uniques(df, truncate=False).sort_values('cols')
df_uniques.to_json('df_uniques.json')

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [9]:
df_uniques

      nuniques                                            uniques
cols
q01a        29                                                NaN
q02a         5  [Often, Occasionally, All or almost all, Neutr...
q02b         5  [Neutral, Often, All or almost all, Never, Occ...
q02c         5  [Never, Occasionally, Often, Neutral, All or a...
q02d         5  [Often, Neutral, Occasionally, All or almost a...
q02e         5  [Often, Occasionally, All or almost all, Never...
q02f         5  [Often, Neutral, All or almost all, Occasional...
q02g         5  [Often, Never, Neutral, All or almost all, Occ...
q02h         5  [Neutral, Often, Occasionally, Never, All or a...
q02i         5  [Occasionally, Never, Often, Neutral, All or a...
q02j         5  [All or almost all, Often, Never, Neutral, Occ...
q03          5  [1-25 employees, 1,000+ employees, 101-500 emp...
q04          4  [11-50 employees, 50+ employees, 6-10 employee...
q05        485                                                NaN
q06        785                                                NaN
q07        660                                                NaN
q08a         6  [10+ years, 7-10 years, 1-3 years, 3-5 years, ...
q08b         6  [10+ years, 7-10 years, 1-3 years, 5-7 years, ...
q08c         6  [10+ years, 5-7 years, 0-1 year, 1-3 years, na...
q08d         6  [10+ years, 5-7 years, 1-3 years, 3-5 years, 7...
q08e         6  [10+ years, 7-10 years, 1-3 years, 3-5 years, ...
q08f         6  [10+ years, 7-10 years, 1-3 years, 5-7 years, ...
q08g         6  [10+ years, 7-10 years, 0-1 year, 3-5 years, 5...
q08h         6  [10+ years, 7-10 years, 1-3 years, 5-7 years, ...
q08i         6  [10+ years, 3-5 years, 5-7 years, 0-1 year, 1-...
q08j         6  [10+ years, 5-7 years, 0-1 year, 3-5 years, 7-...
q09a        55                                                NaN
q10        595                                                NaN
q11a         4             [Never, Sometimes, Rarely, Often, nan]
q11b         4             [Rarely, Often, Sometimes, nan, Never]
...        ...                                                ...
q12f         5  [Likely, Neutral, Unlikely, Extremely likely, ...
q12g         5  [Extremely likely, Neutral, Likely, nan, Unlik...
q12h         5  [Extremely likely, Neutral, Likely, Unlikely, ...
q13a         5  [Important, Neutral, Not at all Important, Ver...
q13b         5  [Important, Somewhat Important, Neutral, Very ...
q13c         5  [Very Important, Important, nan, Neutral, Some...
q13d         5  [Neutral, Important, Very Important, Somewhat ...
q13e         5  [Important, Very Important, Somewhat Important...
q13f         5  [Somewhat Important, Neutral, Very Important, ...
q13g         5  [Important, Somewhat Important, Neutral, Not a...
q13h         5  [Somewhat Important, Important, Neutral, Very ...
q13i         5  [Important, Neutral, Very Important, Somewhat ...
q13j         5  [Very Important, Important, Neutral, nan, Some...
q14        679                                                NaN
q15        626                                                NaN
q16        528                                                NaN
q17a        64                                                NaN
q18a        44                                                NaN
q19a         5  [Very Important, Important, Neutral, nan, Some...
q19b         5  [Neutral, Important, Very Important, Not at al...
q19c         5  [Neutral, Important, Somewhat Important, Not a...
q19d         5  [Neutral, Important, Very Important, nan, Some...
q19e         5  [Important, Neutral, Very Important, Somewhat ...
q19f         5  [Neutral, Somewhat Important, Not at all Impor...
q19g         5  [Neutral, Somewhat Important, Important, Not a...
q19h         5  [Neutral, Very Important, Important, Somewhat ...
q20        180                                                NaN
q21        566                                                NaN
q22        474                                                NaN
q23        497                                                NaN

[68 rows x 2 columns]

In [60]:
dict_list = {
    'important5': {
        'Not at all Important' : 0,
        'Somewhat Important' : 1,
        'Neutral' : 2,
        'Important' : 3,
        'Very Important': 4,
        np.NaN: None
    },
    'likely5': {
        'Extremely unlikely' : 0,
        'Unlikely' : 1,
        'Neutral' : 2,
        'Likely' : 3,
        'Extremely likely': 4,
        np.NaN: None
    },
    'often4': {
        'Never': 0,
        'Rarely': 1,
        'Sometimes': 2,
        'Often': 3,
        np.NaN: None
    },
    'often5': {
        'Never': 0,
        'Occasionally': 1,
        'Neutral': 2,
        'Often': 3,
        'All or almost all': 4,
        np.NaN: None
    },
    'tenure6': {
        "0-1 year": 0,
        "1-3 years": 1,
        "3-5 years": 2,
        "5-7 years": 3,
        "7-10 years": 4,
        "10+ years": 5,
        np.NaN: None
    },
    'q03dict': {
        "1-25 employees": 0,
        "26-100 employees": 1, 
        "101-500 employees": 2,
        "501-1,000 employees": 3,
        "1,000+ employees": 4,
        np.NaN: None
    },
    'q04dict': {
        "1-5 employees": 0,
        "6-10 employees": 1,
        "11-50 employees": 2,
        "50+ employees": 3,
        np.NaN: None
    }
}

In [64]:
qlib = pd.read_csv('question_library.txt').dropna().set_index('qid2')
qlib['col'] = qlib.index
qlib

         cat_lib   col
qid2
q02a      often5  q02a
q02b      often5  q02b
q02c      often5  q02c
q02d      often5  q02d
q02e      often5  q02e
q02f      often5  q02f
q02g      often5  q02g
q02h      often5  q02h
q02i      often5  q02i
q02j      often5  q02j
q03      q03dict   q03
q04      q04dict   q04
q08a     tenure6  q08a
q08b     tenure6  q08b
q08c     tenure6  q08c
q08d     tenure6  q08d
q08e     tenure6  q08e
q08f     tenure6  q08f
q08g     tenure6  q08g
q08h     tenure6  q08h
q08i     tenure6  q08i
q08j     tenure6  q08j
q11a      often4  q11a
q11b      often4  q11b
q11c      often4  q11c
q11d      often4  q11d
q11e      often4  q11e
q12a     likely5  q12a
q12b     likely5  q12b
q12c     likely5  q12c
q12d     likely5  q12d
q12e     likely5  q12e
q12f     likely5  q12f
q12g     likely5  q12g
q12h     likely5  q12h
q13a  important5  q13a
q13b  important5  q13b
q13c  important5  q13c
q13d  important5  q13d
q13e  important5  q13e
q13f  important5  q13f
q13g  important5  q13g
q13h  important5  q13h
q13i  important5  q13i
q13j  important5  q13j
q19a  important5  q19a
q19b  important5  q19b
q19c  important5  q19c
q19d  important5  q19d
q19e  important5  q19e
q19f  important5  q19f
q19g  important5  q19g
q19h  important5  q19h

In [38]:
checkcol = 'q19g'
use_dict = dict_list[qlib.cat_lib[checkcol]]
print(use_dict)


encoded = df[checkcol].apply(lambda x: use_dict[x])
encoded.head(10)

{'Not at all Important': 0, 'Somewhat Important': 1, 'Neutral': 2, 'Important': 3, 'Very Important': 4, nan: None}

0    2.0
1    1.0
2    2.0
3    3.0
4    2.0
5    3.0
6    2.0
7    1.0
8    2.0
9    2.0
Name: q19g, dtype: float64

In [73]:
def encode_columns(df, cols, dicts, check_dicts):
#     print('***** cols *****')
#     print(cols.head())
#     print('***** dicts *****')
#     print(dicts)
#     print('***** check_dicts *****')
#     print(check_dicts.head())
    for col in cols:
#         print('*****\n','col',col)
        use_dict = dicts[check_dicts[col]]
#         print(use_dict)
        encoded = df[col].apply(lambda x: use_dict[x])
#         print('*****\n',encoded.head())
        df[col] = encoded
    return df
    pass

In [77]:
df2 = df.copy()
# display(df2.info())
display(df2.head())

encode_columns(df=df2, cols=qlib.col, dicts=dict_list, check_dicts=qlib.cat_lib)
display(df2.head())
df2.info()

,q00,q01a,q01b,q01c,q02a,q02b,q02c,q02d,q02e,q02f,...,q14,q15,q16,q17a,q17b,q18a,q21,q22,q23,q09a
0,284,Academic,4,1.0,Often,Neutral,Never,Often,Often,Often,...,NaN,NaN,"CHI, INTERACT",depending on the professional values,7.0,"any, depending on the values",research-practice connections,NaN,research-practice connections,"sort of, psychology background."
1,288,Academic,4,1.0,Occasionally,Neutral,Occasionally,Often,Often,Often,...,"Content, cost, timing (can I get away at this ...","Dagstuhl workshop - small, intense, intimate g...",Hawaii international conference on Education,I would attend any of these,6.0,Multi-track: Every attendee chooses their own ...,NaN,NaN,Don’t create schedule conflicts with other rel...,"Yes, I was taught how to conduct research"
2,294,Academic,4,1.0,Often,Often,Occasionally,Often,Occasionally,Often,...,- time for travel (having two small children]\...,Courses at Copenhagen University (deep knowle...,"Research Tuesdays (Czech), UX/Design Conferen...",It depends - I really enjoyed small conference...,7.0,It depends,NaN,NaN,Looking forward! \n,"Yes, I was taught how to conduct research"
3,281,Academic,4,1.0,Often,All or almost all,Never,Neutral,Often,Neutral,...,My professional development budget allows me t...,A workshop at the Society for Applied Anthropo...,A local education implementation conference.,Large conference: 500+ attendees,4.0,Multi-track: Every attendee chooses their own ...,"Research design, innovative methods, communica...",NaN,NaN,"Yes, I was taught how to conduct research"
4,280,Academic,4,1.0,Often,Often,Never,Occasionally,Occasionally,Often,...,NaN,NaN,NaN,Large conference: 500+ attendees,4.0,Multi-track: Every attendee chooses their own ...,NaN,NaN,NaN,"No, I was not taught how to conduct research"

,q00,q01a,q01b,q01c,q02a,q02b,q02c,q02d,q02e,q02f,...,q14,q15,q16,q17a,q17b,q18a,q21,q22,q23,q09a
0,284,Academic,4,1.0,3,2,0,3,3,3,...,NaN,NaN,"CHI, INTERACT",depending on the professional values,7.0,"any, depending on the values",research-practice connections,NaN,research-practice connections,"sort of, psychology background."
1,288,Academic,4,1.0,1,2,1,3,3,3,...,"Content, cost, timing (can I get away at this ...","Dagstuhl workshop - small, intense, intimate g...",Hawaii international conference on Education,I would attend any of these,6.0,Multi-track: Every attendee chooses their own ...,NaN,NaN,Don’t create schedule conflicts with other rel...,"Yes, I was taught how to conduct research"
2,294,Academic,4,1.0,3,3,1,3,1,3,...,- time for travel (having two small children]\...,Courses at Copenhagen University (deep knowle...,"Research Tuesdays (Czech), UX/Design Conferen...",It depends - I really enjoyed small conference...,7.0,It depends,NaN,NaN,Looking forward! \n,"Yes, I was taught how to conduct research"
3,281,Academic,4,1.0,3,4,0,2,3,2,...,My professional development budget allows me t...,A workshop at the Society for Applied Anthropo...,A local education implementation conference.,Large conference: 500+ attendees,4.0,Multi-track: Every attendee chooses their own ...,"Research design, innovative methods, communica...",NaN,NaN,"Yes, I was taught how to conduct research"
4,280,Academic,4,1.0,3,3,0,1,1,3,...,NaN,NaN,NaN,Large conference: 500+ attendees,4.0,Multi-track: Every attendee chooses their own ...,NaN,NaN,NaN,"No, I was not taught how to conduct research"

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 868 entries, 0 to 867
Data columns (total 72 columns):
q00     868 non-null int64
q01a    868 non-null object
q01b    868 non-null int64
q01c    865 non-null float64
q02a    868 non-null int64
q02b    868 non-null int64
q02c    868 non-null int64
q02d    868 non-null int64
q02e    868 non-null int64
q02f    868 non-null int64
q02g    868 non-null int64
q02h    868 non-null int64
q02i    868 non-null int64
q02j    868 non-null int64
q03     865 non-null float64
q04     862 non-null float64
q08a    824 non-null float64
q08b    824 non-null float64
q08c    824 non-null float64
q08d    824 non-null float64
q08e    824 non-null float64
q08f    824 non-null float64
q08g    824 non-null float64
q08h    824 non-null float64
q08i    824 non-null float64
q08j    824 non-null float64
q11a    807 non-null float64
q11b    807 non-null float64
q11c    807 non-null float64
q11d    807 non-null float64
q11e    807 non-null float64
q12a    807 non-null float64
q12b    807 non-null float64
q12c    807 non-null float64
q12d    807 non-null float64
q12e    807 non-null float64
q12f    807 non-null float64
q12g    807 non-null float64
q12h    807 non-null float64
q13a    780 non-null float64
q13b    780 non-null float64
q13c    780 non-null float64
q13d    780 non-null float64
q13e    780 non-null float64
q13g    780 non-null float64
q13h    780 non-null float64
q13i    780 non-null float64
q13j    780 non-null float64
q13f    780 non-null float64
q19a    737 non-null float64
q19b    737 non-null float64
q19c    737 non-null float64
q19d    737 non-null float64
q19e    737 non-null float64
q19f    737 non-null float64
q19g    737 non-null float64
q19h    737 non-null float64
q20     261 non-null object
q05     868 non-null object
q06     808 non-null object
q07     713 non-null object
q10     598 non-null object
q14     681 non-null object
q15     628 non-null object
q16     589 non-null object
q17a    737 non-null object
q17b    866 non-null float64
q18a    737 non-null object
q21     567 non-null object
q22     476 non-null object
q23     499 non-null object
q09a    824 non-null object
dtypes: float64(45), int64(12), object(15)
memory usage: 488.3+ KB