## Contents

- [Updates](#Updates)
- [Wrangle](#Wrangle)
- [Target](#Target)
- [Quant_cols](#Quant_cols)
- [Recoder](#Recoder)

## Updates
[*Back to top*](#Contents)

In [1]:
# Python updates

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
import itertools as it
import re

In [2]:
# Local updates

import sys
sys.path.append('')
import wrangle
import explore

In [3]:
 # Jupyter notebooks only #
def ifull(obj):
    with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
        display(obj)

## Wrangle
[*Back to top*](#Contents)

In [4]:
df, dictdf = wrangle.wrangle_data()
print(df.shape)

(726, 87)

In [5]:
print(dictdf.shape)
# ifull(dictdf.describe().T)

(90, 11)

## Target
[*Back to top*](#Contents)

In [6]:
df = explore.add_target_to_df(df)

In [7]:
print(df.target.value_counts())

1.0    372
0.5    202
0.0    152
Name: target, dtype: int64

In [8]:
dfrecode2 = explore.make_recode_df(df=df, data_dictionary=dictdf, outputs = 2)

In [9]:
agg_df = dfrecode2.copy()
agg_df.persona_id = agg_df.persona_id.astype('object')
agg_df = agg_df.groupby(['persona_id']).agg(['mean']).T
agg_df = agg_df.reset_index()
agg_df.index_name='idx'
agg_df = agg_df.rename(columns={
    'level_0': 'field', 'level_1': 'stat'
})
agg_df = agg_df.melt(id_vars=['field', 'stat'], var_name='persona_id', value_name='calc_val')
agg_df = agg_df.pivot_table(values='calc_val', index=['field','persona_id'], columns='stat')

# ifull(agg_df)

In [10]:
qs_sessions = [
    'session_keynote',
    'session_long_talk',
    'session_short_talk',
    'session_workshop',
    'session_network',
    'session_social_event',
    'session_qa',
    'sesson_topic_tables',
]

In [11]:
qs_factors = [
    'factor_speaker',
    'factor_diverse_speak',
    'factor_topics',
    'factor_format_sessions',
    'factor_size',
    'factor_network',
    'factor_variety_attend',
    'factor_code',
    'factor_location',
    'factor_ability_to_pay',
]

In [12]:
qs_learning = [
    'learning_talks',
    'learning_read',
    'learning_meetup',
    'learning_workshop',
    'likely_watch_video',
    'likely_internet',
    'likely_book',
    'likely_online_group',
    'likely_colleague',
    'likely_meetup',
    'likely_workshop',    
]

In [13]:
idx = pd.IndexSlice

In [14]:
personas = wrangle.persona_names
for l in [qs_sessions, qs_factors]: # qs_learning not ready yet
    for p in personas:
        print(f'{p}: {personas[p]}')
        display(agg_df.loc[idx[l, [p]], ['mean']].sort_values(by='mean', ascending=False).head(5))

1: Executives and Consultants

stat                                mean
field               persona_id
session_workshop    1           0.776596
session_long_talk   1           0.691489
session_keynote     1           0.606383
sesson_topic_tables 1           0.606383
session_network     1           0.595745

2: Specialists

stat                                mean
field               persona_id
session_workshop    2           0.715447
session_keynote     2           0.691057
session_long_talk   2           0.650407
sesson_topic_tables 2           0.536585
session_short_talk  2           0.512195

3: Very Experienced Researchers and Designers

stat                                mean
field               persona_id
session_long_talk   3           0.713675
session_workshop    3           0.700855
session_keynote     3           0.666667
session_short_talk  3           0.547009
sesson_topic_tables 3           0.542735

4: Somewhat Experienced Researchers

stat                                mean
field               persona_id
session_workshop    4           0.767956
session_long_talk   4           0.751381
session_keynote     4           0.734807
sesson_topic_tables 4           0.585635
session_short_talk  4           0.535912

5: Less Experienced Researchers

stat                                mean
field               persona_id
session_workshop    5           0.840426
session_keynote     5           0.765957
session_long_talk   5           0.691489
sesson_topic_tables 5           0.638298
session_qa          5           0.510638

1: Executives and Consultants

stat                                   mean
field                  persona_id
factor_topics          1           0.968085
factor_ability_to_pay  1           0.861702
factor_location        1           0.723404
factor_diverse_speak   1           0.691489
factor_format_sessions 1           0.617021

2: Specialists

stat                                   mean
field                  persona_id
factor_topics          2           0.975610
factor_ability_to_pay  2           0.821138
factor_location        2           0.772358
factor_diverse_speak   2           0.674797
factor_format_sessions 2           0.634146

3: Very Experienced Researchers and Designers

stat                                   mean
field                  persona_id
factor_topics          3           0.978632
factor_ability_to_pay  3           0.846154
factor_diverse_speak   3           0.722222
factor_location        3           0.705128
factor_format_sessions 3           0.653846

4: Somewhat Experienced Researchers

stat                                   mean
field                  persona_id
factor_topics          4           0.972376
factor_ability_to_pay  4           0.878453
factor_diverse_speak   4           0.790055
factor_location        4           0.756906
factor_format_sessions 4           0.679558

5: Less Experienced Researchers

stat                                   mean
field                  persona_id
factor_topics          5           0.946809
factor_ability_to_pay  5           0.840426
factor_location        5           0.744681
factor_diverse_speak   5           0.734043
factor_format_sessions 5           0.702128