# Dom's Notebook

hypothesis:

(01/09/20)
- Taxo ID [7,8] fall into Exec and consult
- taxo ID [3,4,5,9] fall into specialists
- Taxo ID [1,2,6] are further divided by experience level

In [1]:
import pandas as pd
import numpy as np
import json

In [2]:
data = pd.read_excel('../resources/researching_researchers_data_1_4_20.xlsx')

In [67]:
data = data[~data['What would be the ideal audience size for a conference about research that *you* would want to attend?'].isna()]
data.columns.to_list()

['Entry Id',
 'Title',
 'Job Taxo ID',
 'Job ID',
 'Conducting Research',
 'Analyzing Research',
 'Buying Research Reports',
 'Managing Research Projects',
 'Observing Research',
 'Planning Research',
 'Teaching Research',
 'Advocating for Research',
 'Hiring Research Vendors',
 'Leading a Research Team or Organization',
 'How many people does your company or organization employ?',
 'How many people in your company or organization have research as part of their role?',
 'Conducting Research.1',
 'Analyzing Research.1',
 'Buying Research Reports.1',
 'Managing Research Projects.1',
 'Observing Research.1',
 'Planning Research.1',
 'Teaching Research.1',
 'Advocating for Research.1',
 'Hiring Research Vendors.1',
 'Leading a Research Team or Organization.1',
 'Watch videos of talks',
 'Read blogs and/or books',
 'Attend a local meetup or talk',
 'Attend a longer form workshop',
 'Attend a conference',
 'Watch a video of a talk',
 'Read a blog post or Medium article',
 'Read a book',
 'Ask in a LinkedIn group, Slack channel, or mailing list',
 'Ask a colleague or manager or mentor',
 'Attend a local meetup or talk.1',
 'Attend a conference.1',
 'Attend a longer form workshop.1',
 "Speakers you've heard of",
 "Diversity of speakers' backgrounds and perspectives",
 'Topics covered',
 'Format of sessions',
 'Networking opportunities',
 'Variety of attendees to network with',
 'Code of conduct in place',
 'Conference location',
 "Your (or your employer's) ability to pay",
 'Number of attendees/degree of intimacy',
 'Keynotes from leaders in research',
 'Full length talks (30-60 minutes)',
 'Short or Lightning talks (< 30 minutes)',
 'Workshops',
 'Networking events',
 'Social events (e.g., parties, karaoke, game night)',
 'Q&A/AMA (ask me anything) sessions',
 'Discussion circles/topic tables',
 "Did we miss any other types of conference sessions that you'd like to mention?",
 "What is your company or organization's primary industry (e.g., fintech, healthcare)?",
 'What types of research do you (or your  team) currently use to make decisions?',
 'What types of research are you (or your  team) considering using in the future?',
 'Describe your educational background with research (e.g., you took classes, participated in running studies, majored in a research-related area).',
 'How do you decide which events to attend? (If travel is a consideration, how so?)',
 "What was the best professional learning event experience you've ever had? What made it great?",
 'What (if any) events have you attended on the subject of research in the past few years?',
 'What would be the ideal audience size for a conference about research that *you* would want to attend?',
 'Ideal Audience Size (Standardized)',
 'What would be the ideal structure for a conference about research that *you* would want to attend?',
 'If attending a conference about research, what subjects would *you* most want to see covered?',
 'If attending a conference about research, who might you be excited to see there (e.g., types of people, specific individuals, organizations)?',
 'Let’s say (hypothetically of course) that Rosenfeld Media was exploring the idea of a conference about research. What advice would you give us?',
 'Did any part of your education include learning about how to conduct research?',
 'What is your current job title?']

In [68]:
data.groupby(['Job Taxo ID', 'Title']).Title.count()

Job Taxo ID  Title
1            Principal UX Researcher     38
             Senior UX Researcher        85
             UX Researcher              170
2            Principal UX Designer       22
             Senior UX Designer          21
             UX Designer                 68
3            Analyst                      5
             Anthropologist               3
             Behavioral economist         1
             Ethnographer                 1
             Market Researcher            3
             Research Scientist           1
             Researcher                   9
4            Academic                    20
             Student                      3
5            Content Strategist           4
             Engineer                    13
             Information Architect       10
             Product Manager              7
             Service Designer            10
             Strategist                  21
6            Design Manager              55
             Research Manager            59
7            Consultant                  51
8            Executive                   45
9            Author                       1
             Intern                       5
             Operations                   5
             Writer                       1
Name: Title, dtype: int64

In [60]:
research_columns =  ['Conducting Research.1',
                     'Analyzing Research.1',
                     'Buying Research Reports.1',
                     'Managing Research Projects.1',
                     'Observing Research.1',
                     'Planning Research.1',
                     'Teaching Research.1',
                     'Advocating for Research.1',
                     'Hiring Research Vendors.1',
                     'Leading a Research Team or Organization.1']
def encode_years(x):
    if '0-1' in str(x):
        return 0
    elif '1-3' in str(x):
        return 1
    elif '3-5' in str(x):
        return 2
    elif '5-7' in str(x):
        return 3
    elif '7-10' in str(x):
        return 4
    elif '10+' in str(x):
        return 5
    else: 
        return x

encoded_research_columns = pd.DataFrame()
for i in research_columns:
    col = data[i].apply(encode_years)
    encoded_research_columns['encoded ' + i] = col
max_research = encoded_research_columns.apply(max, axis = 1)
max_research

0      5
1      5
2      4
3      1
4      4
      ..
831    1
832    2
833    5
834    3
867    3
Length: 737, dtype: int64

In [61]:
exec_and_consult_ids = [7,8]
specialist_ids = [3,4,5,9]
other_ids = [1,2,6]

In [63]:
id_col = 'Job Taxo ID'
experiece_col = 'max_research'

def label_data(x):
    if x[id_col] in exec_and_consult_ids:
        return 1
    if x[id_col] in specialist_ids:
        return 2
    if x[id_col] in other_ids:
        if x[experiece_col] in [4,5]:
            return 3
        if x[experiece_col] in [2,3]:
            return 4
        if x[experiece_col] in [0,1]:
            return 5
    return np.nan
        
        
data.join(pd.DataFrame(max_research, columns = ['max_research'])).apply(label_data, axis = 1).value_counts()

3    270
4    178
2    123
1     96
5     70
dtype: int64

In [2]:
import sys
sys.path.append('../')
import wrangle

In [75]:
max_research = wrangle.get_max_research_years(data)
data.join(pd.DataFrame(max_research, columns = ['max_experience'])).apply(wrangle.get_labels, axis = 1)

0      2
1      2
2      2
3      2
4      2
      ..
831    5
832    4
833    3
834    4
867    2
Length: 737, dtype: int64

In [2]:
data = pd.read_excel('/Users/dom/codeup_data_science/capstone/kev/survey_responses.xlsx', )
data.head()

,q00,q01a,q01b,q01c,q02a,q02b,q02c,q02d,q02e,q02f,...,q14,q15,q16,q17a,q17b,q18a,q21,q22,q23,q09a
0,284,Academic,4,1.0,Often,Neutral,Never,Often,Often,Often,...,NaN,NaN,"CHI, INTERACT",depending on the professional values,7.0,"any, depending on the values",research-practice connections,NaN,research-practice connections,"sort of, psychology background."
1,288,Academic,4,1.0,Occasionally,Neutral,Occasionally,Often,Often,Often,...,"Content, cost, timing (can I get away at this ...","Dagstuhl workshop - small, intense, intimate g...",Hawaii international conference on Education,I would attend any of these,6.0,Multi-track: Every attendee chooses their own ...,NaN,NaN,Don’t create schedule conflicts with other rel...,"Yes, I was taught how to conduct research"
2,294,Academic,4,1.0,Often,Often,Occasionally,Often,Occasionally,Often,...,- time for travel (having two small children]\...,Courses at Copenhagen University (deep knowle...,"Research Tuesdays (Czech), UX/Design Conferen...",It depends - I really enjoyed small conference...,7.0,It depends,NaN,NaN,Looking forward! \n,"Yes, I was taught how to conduct research"
3,281,Academic,4,1.0,Often,All or almost all,Never,Neutral,Often,Neutral,...,My professional development budget allows me t...,A workshop at the Society for Applied Anthropo...,A local education implementation conference.,Large conference: 500+ attendees,4.0,Multi-track: Every attendee chooses their own ...,"Research design, innovative methods, communica...",NaN,NaN,"Yes, I was taught how to conduct research"
4,280,Academic,4,1.0,Often,Often,Never,Occasionally,Occasionally,Often,...,NaN,NaN,NaN,Large conference: 500+ attendees,4.0,Multi-track: Every attendee chooses their own ...,NaN,NaN,NaN,"No, I was not taught how to conduct research"

In [22]:
with open('/Users/dom/codeup_data_science/capstone/data_files/encoding_dicts.json', 'r') as json_file:
    dict_file = json.load(json_file)
    json_file.close()
dict_file

{'important5': {'Not at all Important': 0,
  'Somewhat Important': 1,
  'Neutral': 2,
  'Important': 3,
  'Very Important': 4,
  'NaN': None},
 'likely5': {'Extremely unlikely': 0,
  'Unlikely': 1,
  'Neutral': 2,
  'Likely': 3,
  'Extremely likely': 4,
  'NaN': None},
 'often4': {'Never': 0, 'Rarely': 1, 'Sometimes': 2, 'Often': 3, 'NaN': None},
 'often5': {'Never': 0,
  'Occasionally': 1,
  'Neutral': 2,
  'Often': 3,
  'All or almost all': 4,
  'NaN': None},
 'tenure6': {'0-1 year': 0,
  '1-3 years': 1,
  '3-5 years': 2,
  '5-7 years': 3,
  '7-10 years': 4,
  '10+ years': 5,
  'NaN': None},
 'q03dict': {'1-25 employees': 0,
  '26-100 employees': 1,
  '101-500 employees': 2,
  '501-1,000 employees': 3,
  '1,000+ employees': 4,
  'NaN': None},
 'q04dict': {'1-5 employees': 0,
  '6-10 employees': 1,
  '11-50 employees': 2,
  '50+ employees': 3,
  'NaN': None}}

In [25]:
pd.read_csv('../kev/question_library.txt')

    qid2     cat_lib
0    q00         NaN
1   q01a         NaN
2   q01b         NaN
3   q01c         NaN
4   q02a      often5
..   ...         ...
67  q19h  important5
68   q20         NaN
69   q21         NaN
70   q22         NaN
71   q23         NaN

[72 rows x 2 columns]

In [2]:
import sys
sys.path.append('../')
import wrangle

In [3]:
df = wrangle.wrangle_data()

In [7]:
data_dictionary = pd.read_excel('../data_files/data_dictionary.xlsx')
data_dictionary

,qid,column_name,is_required,from_orig_file,char_type,function,encoder,survey_section,question_group,question_text
0,q00,resp_id,True,True,numeric,identification,NaN,Survey,ID,Entry Id
1,q01a,job_title,True,True,text,categorical,NaN,Work,Position,Title
2,q01b,job_taxo,True,True,numeric,categorical,NaN,Work,Position,Job Taxo ID
3,q01c,job_id,True,True,numeric,categorical,NaN,Work,Position,Job ID
4,q02a,job_conduct_res,True,True,numeric,quantitative,often5,Work,Research Duties,Conducting Research
...,...,...,...,...,...,...,...,...,...,...
68,q20,other_conference_types,False,True,text,qualitative,NaN,Conference 2,Sessions of Interest,Did we miss any other types of conference sess...
69,q21,ideal_topics,False,True,text,qualitative,NaN,Conference 2,Desired Topics,"If attending a conference about research, what..."
70,q22,ideal_attendees,False,True,text,qualitative,NaN,Conference 2,Desired Attendees,"If attending a conference about research, who ..."
71,q23,recommendations,False,True,text,qualitative,NaN,Conference 2,Conference Advice,Let’s say (hypothetically of course) that Rose...
72,NaN,persona,False,False,numeric,quantitative,NaN,NaN,NaN,NaN

In [21]:
df.columns = data_dictionary.column_name.tolist() + ['persona']
df

,resp_id,job_title,job_taxo,job_id,job_conduct_res,job_analyze_res,job_buy_res_report,job_manage_res_proj,job_observe_res,job_plan_res,...,session_workshop,session_network,session_social_event,session_qa,sesson_topic_tables,other_conference_types,ideal_topics,ideal_attendees,recommendations,persona
0,284,Academic,4,1.0,3,2,0,3,3,3,...,NaN,"CHI, INTERACT",depending on the professional values,7.0,"any, depending on the values",research-practice connections,NaN,research-practice connections,"sort of, psychology background.",2
1,288,Academic,4,1.0,1,2,1,3,3,3,...,"Dagstuhl workshop - small, intense, intimate g...",Hawaii international conference on Education,I would attend any of these,6.0,Multi-track: Every attendee chooses their own ...,NaN,NaN,Don’t create schedule conflicts with other rel...,"Yes, I was taught how to conduct research",2
2,294,Academic,4,1.0,3,3,1,3,1,3,...,Courses at Copenhagen University (deep knowle...,"Research Tuesdays (Czech), UX/Design Conferen...",It depends - I really enjoyed small conference...,7.0,It depends,NaN,NaN,Looking forward! \n,"Yes, I was taught how to conduct research",2
3,281,Academic,4,1.0,3,4,0,2,3,2,...,A workshop at the Society for Applied Anthropo...,A local education implementation conference.,Large conference: 500+ attendees,4.0,Multi-track: Every attendee chooses their own ...,"Research design, innovative methods, communica...",NaN,NaN,"Yes, I was taught how to conduct research",2
4,280,Academic,4,1.0,3,3,0,1,1,3,...,NaN,NaN,Large conference: 500+ attendees,4.0,Multi-track: Every attendee chooses their own ...,NaN,NaN,NaN,"No, I was not taught how to conduct research",2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
863,105,UX Researcher,1,28.0,3,3,3,3,3,3,...,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,"Yes, I was taught how to conduct research",4
864,104,UX Researcher,1,28.0,3,3,0,4,1,3,...,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,none of my education had anything to do with r...,3
865,843,UX Researcher,1,28.0,4,4,0,4,2,4,...,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,"Yes, I was taught how to conduct research",3
866,876,UX Researcher,1,28.0,3,3,1,3,1,3,...,"Service Design Europe in Cardiff, very good 2-...",GOOD19,NaN,5.0,NaN,NaN,NaN,NaN,"Yes, I was taught how to conduct research",4
867,2,Writer,9,NaN,3,3,0,1,3,3,...,"Confab Higher Ed. Great people, great content.",NaN,Mid-size conference : 300-500 attendees,3.0,Multi-track: Every attendee chooses their own ...,NaN,NaN,NaN,"No, I was not taught how to conduct research",2

In [37]:
for i in range(len(df.columns)):
    if df.columns[i] in data_dictionary.qid.to_list():
        print(df.columns[i])
        print(data_dictionary[df.columns[i] == data_dictionary.qid].column_name)
        df.rename(columns = {df.columns[i]: data_dictionary[df.columns[i] == data_dictionary.qid].column_name}, inplace=True)

q00
0    resp_id
Name: column_name, dtype: object
q01a
1    job_title
Name: column_name, dtype: object

TypeError: 'Series' objects are mutable, thus they cannot be hashed

In [32]:
data_dictionary[df.columns[2] == data_dictionary.qid].column_name

2    job_taxo
Name: column_name, dtype: object

In [4]:
df

column_name,resp_id,job_title,job_taxo,job_id,job_conduct_res,job_analyze_res,job_buy_res_report,job_manage_res_proj,job_observe_res,job_plan_res,...,session_workshop,session_network,session_social_event,session_qa,sesson_topic_tables,other_conference_types,ideal_topics,ideal_attendees,recommendations,persona
0,284,Academic,4,1.0,3,2,0,3,3,3,...,NaN,"CHI, INTERACT",depending on the professional values,7.0,"any, depending on the values",research-practice connections,NaN,research-practice connections,"sort of, psychology background.",2
1,288,Academic,4,1.0,1,2,1,3,3,3,...,"Dagstuhl workshop - small, intense, intimate g...",Hawaii international conference on Education,I would attend any of these,6.0,Multi-track: Every attendee chooses their own ...,NaN,NaN,Don’t create schedule conflicts with other rel...,"Yes, I was taught how to conduct research",2
2,294,Academic,4,1.0,3,3,1,3,1,3,...,Courses at Copenhagen University (deep knowle...,"Research Tuesdays (Czech), UX/Design Conferen...",It depends - I really enjoyed small conference...,7.0,It depends,NaN,NaN,Looking forward! \n,"Yes, I was taught how to conduct research",2
3,281,Academic,4,1.0,3,4,0,2,3,2,...,A workshop at the Society for Applied Anthropo...,A local education implementation conference.,Large conference: 500+ attendees,4.0,Multi-track: Every attendee chooses their own ...,"Research design, innovative methods, communica...",NaN,NaN,"Yes, I was taught how to conduct research",2
4,280,Academic,4,1.0,3,3,0,1,1,3,...,NaN,NaN,Large conference: 500+ attendees,4.0,Multi-track: Every attendee chooses their own ...,NaN,NaN,NaN,"No, I was not taught how to conduct research",2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
863,105,UX Researcher,1,28.0,3,3,3,3,3,3,...,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,"Yes, I was taught how to conduct research",4
864,104,UX Researcher,1,28.0,3,3,0,4,1,3,...,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,none of my education had anything to do with r...,3
865,843,UX Researcher,1,28.0,4,4,0,4,2,4,...,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,"Yes, I was taught how to conduct research",3
866,876,UX Researcher,1,28.0,3,3,1,3,1,3,...,"Service Design Europe in Cardiff, very good 2-...",GOOD19,NaN,5.0,NaN,NaN,NaN,NaN,"Yes, I was taught how to conduct research",4
867,2,Writer,9,NaN,3,3,0,1,3,3,...,"Confab Higher Ed. Great people, great content.",NaN,Mid-size conference : 300-500 attendees,3.0,Multi-track: Every attendee chooses their own ...,NaN,NaN,NaN,"No, I was not taught how to conduct research",2