In [2]:
import sys
sys.path.append('../')
import wrangle

import nlp

In [1]:
from sklearn.decomposition import LatentDirichletAllocation
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd
import numpy as np

In [18]:
pd.set_option('display.max_columns', None)

In [3]:
df, data_dict = wrangle.wrangle_data()

## Process

In [ ]:
#Deal with nans as a topic
#Add probability score

In [7]:
stop_words = ['nan', 'Nan', 'NaN', 'NAN']

stopWords = nlp.set_stop_words(stop_words)

In [ ]:
def assign_topic(input_column, max_df=.8, min_df=2, stop_words='english', ngram_range=(1,3), n_components=3):
    input_column = input_column.fillna('nan')
    input_column = input_column.apply(nlp.basic_clean)
    input_column = input_column.apply(nlp.lemmatize)
    count_vect = CountVectorizer(max_df=max_df, min_df=min_df, stop_words=stop_words, ngram_range=ngram_range)
    doc_term_matrix = count_vect.fit_transform(input_column.values.astype('U'))
    LDA = LatentDirichletAllocation(n_components=n_components, random_state=42)
    LDA.fit(doc_term_matrix)
    lda_H = LDA.transform(doc_term_matrix)
    topic_doc_df = pd.DataFrame(lda_H)
    return topic_doc_df.idxmax(axis=1)

In [ ]:
def pair_topic_with_text(text_column, topic_column):
    """
    Takes the raw text column from the wrangle dataframe and the topic column made by the assign_topic function.
    Creates a dataframe with each of the inputs as columns.
    """
    text_column = text_column.reset_index()
    test_df = pd.DataFrame()
    test_df['text'] = test_column[text_column.columns[1]]
    test_df['topic_id'] = topic_column
    return test_df

In [82]:
test_column = df.types_res_used

In [83]:
test_column_topics = assign_topic(df.types_res_used, stop_words=stopWords, n_components=8)

In [86]:
test_column = test_column.reset_index()

In [89]:
test_df = pd.DataFrame()

In [90]:
test_df['text'] = test_column[test_column.columns[1]]

In [92]:
test_df['topic_id'] = test_column_topics

In [96]:
test_df[test_df.text.isnull()]

    text  topic_id
4    NaN         0
13   NaN         0
19   NaN         0
28   NaN         0
37   NaN         0
50   NaN         0
52   NaN         0
53   NaN         0
133  NaN         0
138  NaN         0
151  NaN         0
195  NaN         0
212  NaN         0
213  NaN         0
220  NaN         0
283  NaN         0
292  NaN         0
293  NaN         0
304  NaN         0
350  NaN         0
354  NaN         0
355  NaN         0
433  NaN         0
437  NaN         0
446  NaN         0
487  NaN         0
525  NaN         0
526  NaN         0
548  NaN         0
584  NaN         0
588  NaN         0
616  NaN         0
650  NaN         0
671  NaN         0
674  NaN         0
713  NaN         0