In [1]:
import sys
sys.path.append('../')
import wrangle
import explore
import nlp

In [2]:
from sklearn.decomposition import LatentDirichletAllocation
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd
import numpy as np

In [3]:
def find_word_counts(input_column, max_df=.3, min_df=2, ngram_range=(1,3), stop_words='english'):
    input_column = input_column.dropna().apply(nlp.basic_clean)
    input_column = input_column.apply(nlp.lemmatize)
    cv = CountVectorizer(max_df=max_df, min_df=min_df, stop_words=stop_words, ngram_range=ngram_range)   
    cv_fit=cv.fit_transform(input_column)    
    word_list = cv.get_feature_names()    
    count_list = cv_fit.toarray().sum(axis=0)
    word_counts = {'word_list': word_list, 'count_list': count_list}
    df_word_count = pd.DataFrame(data=word_counts)
    return df_word_count

In [4]:
pd.set_option('display.max_columns', None)

df, data_dict = wrangle.wrangle_data()

In [5]:
blob = nlp.create_biganswer_col(df)

In [6]:
blob

resp_id
284    research-practice connectionsmaritimeboth qual...
288    Don’t create schedule conflicts with other rel...
294    Looking forward! \nUniversityUser research / D...
281    n/aEd Techsurveys, interviews, focus groups, s...
280    n/aeducationn/an/aNo, I was not taught how to ...
                             ...
869    provide tools and resources and support for ne...
879    Make it affordable. Somewhere in Europe. :)fam...
136    My goal is to provide constructive criticism, ...
74     Instead of trying to create a general ideal co...
2      n/aHigher EducationUX researchn/aNo, I was not...
Length: 726, dtype: object

## Test

In [8]:
cv = CountVectorizer(max_df=.9, min_df=2, ngram_range=(1,3), stop_words='english')

In [9]:
input_column = blob.apply(nlp.basic_clean)

In [11]:
input_column = input_column.apply(nlp.lemmatize)

In [13]:
cv_fit = cv.fit_transform(input_column)

In [21]:
cv_fit

<726x9331 sparse matrix of type '<class 'numpy.int64'>'
	with 74914 stored elements in Compressed Sparse Row format>

In [26]:
analyzer = cv.build_analyzer()

In [27]:
analyzer("This is a text document to analyze.") == (['this', 'is', 'text', 'document', 'to', 'analyze'])

False

In [14]:
type(cv_fit)

scipy.sparse.csr.csr_matrix

In [ ]:
def find_word_counts(input_column, max_df=.3, min_df=2, ngram_range=(1,3), stop_words='english'):
    input_column = input_column.dropna().apply(nlp.basic_clean)
    input_column = input_column.apply(nlp.lemmatize)
    cv = CountVectorizer(max_df=max_df, min_df=min_df, stop_words=stop_words, ngram_range=ngram_range)   
    cv_fit=cv.fit_transform(input_column)    
    word_list = cv.get_feature_names()    
    count_list = cv_fit.toarray().sum(axis=0)
    word_counts = {'word_list': word_list, 'count_list': count_list}
    df_word_count = pd.DataFrame(data=word_counts)
    return df_word_count

In [28]:
dale = find_word_counts(input_column)

In [29]:
dale

           word_list  count_list
0                 10          12
1            10 year           4
2                100           6
3     100 conference           2
4               1000           3
...              ...         ...
9286         younger           2
9287         youtube           3
9288              yr          10
9289         zealand           4
9290            zoom           3

[9291 rows x 2 columns]